
.text-field{
	-fx-background-radius: 0;
	-fx-effect:null;
	-fx-background-color: -fx-text-box-border, -fx-control-inner-background;
	-fx-font-family: Roboto;
}

.text-field:error{
    -fx-text-fill:black;
    -fx-border-color: red;
}
.text-field:focused{
    -fx-text-fill:black;
    -fx-border-color: #19B5FE;
}
.text-area:error{
    -fx-text-fill:black;
    -fx-border-color: red;
}
.text-area:focused{
    -fx-text-fill:black;
    -fx-border-color: #19B5FE;
}
.text-area{
	-fx-background-radius: 0;
	-fx-effect:null;
	-fx-background-color: -fx-text-box-border, -fx-control-inner-background;
	-fx-font-family: Roboto;
}
.button{
	-fx-background-radius:0;
	-fx-effect:null;
	-fx-background-color: #287AA9;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.choice-box{
	-fx-background-radius:0;
	-fx-effect:null;
	-fx-control-inner-background: #ffffff;
}

.date-picker{
	-fx-background-radius:0;
	-fx-effect:null;
}


.table-view{
	-fx-background-radius:0;
}

.table-view .column-header-background .filler {
    -fx-background-color: #287AA9;
}

.table-view .column-header{
    -fx-background-color: #287AA9; 
    -fx-font-size: 12px;
}

.table-view .column-header .label{
	-fx-text-fill: white;
}

.label{
	-fx-font-family: Roboto;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}

#MenuBarAnchorPane{
	-fx-background-color: #6c7a89;
	-fx-border-width: 0;
	-fx-border-stylr: none;
}

.MenuBarButton{
	-fx-background-color: #6c7a89;
	-fx-font-family: Roboto;
	-fx-font-weight: bold;
	-fx-font-size: 15px;
	-fx-text-fill: #FFFFFF;
}
.MenuBarButton :default:hover:pressed,
.MenuBarButton:focused{
	-fx-background-color: #FFFFFF;
	-fx-text-fill: #6c7a89;
	
}

.InvoiceMenuButton{
	-fx-background-color: #ABB7B7;
	-fx-font-family: Roboto;
	-fx-font-weight: bold;
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 14px;
}

.InvoiceMenuButton :default:hover:pressed,
.InvoiceMenuButton:focused{
	-fx-background-color: #FFFFFF;
	-fx-text-fill: #6c7a89;
}

.button:additionalFocus{
	-fx-background-color: #FFFFFF;
	-fx-text-fill: #6c7a89;
}



.TabHeadingLabel{
	-fx-font-weight: bold;
	-fx-font-size: 18px;
	-fx-underline: true;
}

.TabSubHeadingLabel{
	-fx-font-weight: bold;
	-fx-font-size: 14px;
	-fx-underline: true;
}

.ValidationErrorText{
	-fx-fill: red;
	-fx-font-weight: bold;
}

.HeaderText{
	-fx-fill: #FFFFFF;
	-fx-font-weight: bold;
}

.scroll-pane{
	-fx-background: #FFFFFF;
	
}

.anchorpane{
	
	-fx-background-color:#FFFFFF;
	-fx-border-style: none;
}